# Ignore all
*

# Unignore csv files
!*.csv

# Unignore julia files
!*.jl

# Unignore jupyter notebook files
!*.ipynb

# Unignore markdown files
!*.md

# Unignore html files
!*.html

# Unignore project files
!Project.toml
!Manifest.toml

# Unignore Directories
!**/

# Unignore .gitignore
!.gitignore